<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.unam.desarrolloappsavanzadas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dog"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menus.mContacto" />
        <activity android:name=".Menus.mConfigurarCuenta" />
        <activity android:name=".Menus.mAcercaDe" />
        <activity android:name=".RecyclerviewFragment" />
        <activity android:name=".PerfilFragment" />
        <activity android:name=".Menus.mRecibirNotificaciones"></activity>

        <service
            android:name=".NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".NotificationIDTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <receiver android:name=".AccionesNotificacion">
            <intent-filter>
                <action android:name="VER_PERFIL"/>
                <action android:name="FOLLOW"/>
                <action android:name="VER_USUARIO"/>
            </intent-filter>
        </receiver>


    </application>


</manifest>